
    p {  margin-top: .75em;
         text-align: justify;
         margin-bottom: .75em;
         }
    h1,h2,h3,h4,h5,h6 {
         text-align: center;
         clear: both;
         }
    hr { width: 33%;
     margin-top: 2em;
     margin-bottom: 2em;
         margin-left: auto;
         margin-right: auto;
         clear: both;
       }

    table {margin-left: auto; margin-right: auto;}

    body{margin-left: 25%;
         margin-right: 25%;
        }

    .linenum  {position: absolute; top: auto; left: 4%;} /* poetry number */
    .blockquot{margin-left: 5%; margin-right: 10%;}
    .pagenum  {position: absolute; left: 92%; font-size: smaller; text-align: right;} /* page numbers */
    .sidenote {width: 20%; padding-bottom: .5em; padding-top: .5em;
               padding-left: .5em; padding-right: .5em; margin-left: 1em;
               float: right; clear: right; margin-top: 1em;
               font-size: smaller; background: #eeeeee; border: dashed 1px;}

    .bb       {border-bottom: solid 2px;}
    .bl       {border-left: solid 2px;}
    .bt       {border-top: solid 2px;}
    .br       {border-right: solid 2px;}
    .bbox     {border: solid 2px;}

    .center   {text-align: center;}
    .smcap    {font-variant: small-caps;}

    .figcenter   {margin-left: auto; margin-right: auto; text-align: center;}

    .figleft     {float: left; clear: left; margin-left: 0; margin-bottom: 1em; margin-top:
                 1em; margin-right: 1em; padding: 0; text-align: center;}

    .figright    {float: right; clear: right; margin-left: 1em; margin-bottom: 1em;
                 margin-top: 1em; margin-right: 0; padding: 0; text-align: center;}

    .footnotes        {border: dashed 1px;}
    .footnote         {margin-left: 10%; margin-right: 10%; font-size: 0.9em;}
    .footnote .label  {position: absolute; right: 84%; text-align: right;}
    .fnanchor         {vertical-align: super; font-size: .8em; text-decoration: none;}

    .poem             {margin-left:10%; margin-right:10%; text-align: left;}
    .poem br          {display: none;}
    .poem .stanza     {margin: 1em 0em 1em 0em;}
    .poem span        {display: block; margin: 0; padding-left: 3em; text-indent: -3em;}
    .poem span.i2     {display: block; margin-left: 2em;}
    .poem span.i4     {display: block; margin-left: 4em;}